th{
	background-color: #0000A0;
	color: white;
	text-align:center;
}

.tables{
    opacity: 1;
    color: white;
    height: 400px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    overflow: scroll;
}



table.table.table-bordered{
	overflow: scroll;
}

th,td { 

	min-width: 200px; 
}

body{
    background: url(background.jpg);
    background-size: cover;
    height: 100vh;
    color:white;
    overflow: scroll;
}

#top{
	margin-top: 5%;
	margin-left: 2%;
}
#blackBackground{
	background-color: black;
	opacity: .8;
	width: 100vw;
	height: 100vh;
	padding-top: 5%;
	padding-left: 3%;

}


#topSection > .row{
	opacity: 1;
	color: white;
}



div.top{
	font-size: 500% !important;
	color: white;

}

div#author, div#class{
	font-size:200% !important;
	color:white;
}

select#option.form-control{
	width:30%;
}

input.radioButtons{
    margin-left: 30px;
    margin-right: 10px;
}

div.headers{
	font-size: 200%;
}

div.columnCheckBox>input{
    display: inline-block;
    zoom: 1;
    width: 1.6%;
    text-align: left;
    margin-left: 1.5%;
    margin-bottom: 2%;
}

input#customQuery{
	width:80%;
	color:black;
}

#queryHeader{
	font-size:210%;
	text-align: left;
}