{% extends "base.html"%}
{% block title %}Welcome!{% endblock %}
{% block header %}NFL Database Viewer{% endblock %}
{% block body %}
<div id="author">By: Brandon Cao and Michael Odere</div>
<div id="class">CIS 451 - Fall 2016</div>
<br>
<br>
<form role="form" method='POST' action="{{url_for('redirectPage')}}">
   <select id="option" name="options" class="form-control">
      <option value="Team-Performance">Team Performance</option>
      <option value="Player-By-Team">Player Statistics By Team</option>
      <option value="Team-Information">Team Information</option>
      <option value="Custom-Query">Custom Query</option>
   </select>
   <br>
   <button type="submit" class="btn btn-default">Submit</button>
</form>
<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Source Code:</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h5>HTML Pages:</h5>
			<div>
			<a href="{{ url_for('static', filename='textFile/base.txt') }}">Base.html</a> - All HTML pages extend base.html. <br>Includes the headers and any default layouts that are gonna be on each page.
			</div>
			<div>
			<a href="{{ url_for('static', filename='textFile/index.txt') }}">index.html</a> - Opening page
			</div>
			<div>
			<a href="{{ url_for('static', filename='textFile/players.txt') }}">players.html</a> - Search players page
			</div>
			<div>
			<a href="{{ url_for('static', filename='textFile/results.txt') }}">results.html</a> - Query results page
			</div>
			<div>
			<a href="{{ url_for('static', filename='textFile/team.txt') }}">team.html</a> - Team Performance page
			</div>
			<div>
			<a href="{{ url_for('static', filename='textFile/teamInfo.txt') }}">teamInfo.html</a> - Team information page
			</div>
			<div>
			<a href="{{ url_for('static', filename='textFile/customQuery.txt') }}">customQuery.html</a> - Page to perform a custom query
			</div>
		</div>

	</div>
</div>
{% endblock %}