{% extends "base.html"%}

{% block title %}Owners{% endblock %}

{% block content %}

	<div id="title">Search By Teams:</div>
		<br>
		<br>
       <form role="form" method='POST' action="{{url_for('showResults')}}">           
             <select id="option" width="50%" name="options" class="form-control">
             	{% for team in teams %}
             	 <option>{{team}}</option>
             	{%   endfor   %}
             </select>
          <br>
          <button type="submit" class="btn btn-default">Submit</button>
       </form>

{% endblock %}
