{% extends "base.html"%}
{% block title %}Players{% endblock %}
{% block header %}
<form role="form" action="{{ url_for('hello') }}">
   <button type="submit" style="float:right;margin-right:5%;" class="btn btn-default">Back to home page</button>
</form>
Search Player Info By Team:
{% endblock %}
{% block body %}
<br>
<div id="headers">Select a team:</div>
<form role="form" method='POST' action="{{url_for('results', page='playerTeamPerformance')}}">
   <br>
   <select id="option" width="50%" name="team" class="form-control">
      {% for team in teams %}
      <option value={{team[1]}}>{{team[0]}}</option>
      {%   endfor   %}
   </select>
   <br>
   <br>
   <div id="headers">Search By Position:</div>
   <br>
   <select id="option" width="50%" name="pos" class="form-control">
      <option value="0">All Positions</option>
      {% for position in positions %}
      <option value={{position[0]}}>{{position[1]}}</option>
      {%   endfor   %}
   </select>
   <br>
   <br>
   <div id="headers">Pick stats to search:</div>
   <br>
   <select id="option" width="50%" name="table" class="form-control">
      <option value="NFLDB.off_performance">Offensive</option>
      <option value="NFLDB.def_performance">Defensive</option>
      <option value="NFLDB.kicker_performance">Kicker</option>
   </select>
   <br>
   <br>
   <button type="submit" class="btn btn-default">Search</button>
</form>
{% endblock %}