{% extends "base.html"%}
{% block title %}Team{% endblock %}
{% block content %}
<div id="title">Search By Teams:</div>
<br>
<br>
<div class="headers">Select team:</div>
<form role="form" method='POST' action="{{url_for('showResults')}}">
   <select id="option" width="50%" name="options" class="form-control">
      {% for team in teams %}
      <option>{{team}}</option>
      {%   endfor   %}
   </select>
   <br>
   <div class="headers">Select year:</div>
   <div class="year">
      <input type="radio" class="radioB" name="years" value="2016">2016</input>
      <input type="radio" class="radioB" name="years" value="2015">2015</input>
      <input type="radio" class="radioB" name="years" value="2014">2014</input>
   </div>
   <br>
   <div class="headers">Select Which Fields You Want To View:</div>
   <br>
   <div class="columnCheckBox">
      <input type="checkbox" name="adjective" value="wins">Wins
      <input type="checkbox" name="adjective" value="losses">Losses
      <input type="checkbox" name="adjective" value="ties">Ties
      <input type="checkbox" name="adjective" value="home">Home wins
      <input type="checkbox" name="adjective" value="road">Road wins
      <input type="checkbox" name="adjective" value="points_against">Points against
      <input type="checkbox" name="adjective" value="touchdowns">Touchdowns
   </div>

  <button type="submit" class="btn btn-default">Submit</button>
   <br>
</form>
{% endblock %}